.header-menu {
	border: 1px solid lightgrey;
	position: absolute;
	top: 40px;
	z-index: 50000000;
}

.header-search {
	width: 100%;
}

.header .logo .img {
	vertical-align: middle;
}

.header-search .form-inline {
	float: right;
}

.header {
	display: inline-flex;
	background-color: #f8f9fa;
	width: 100%;
}

.header-separation {
	background-color: #ff5950;
	color: white;
	font-weight: bold;
	text-align: right;
	padding: 5px;
	width: 100%;
}